@import "bower_components/mui/src/sass/mui/colors";

body{
  background-color: transparent;
}

#results {
  width: 900px;
  height: 300px;
  float: left;
  margin: auto;
  background-color:#E0F2F1;
}
#results-calendar {
  width: 447px;
  height: 300px;
  float: right;
  margin: auto;
  background-color:#FFEBEE;
}
#map {
  width: 1400px;
  height: 300px;
  float:left;
  margin:auto;
  background-color: #000000;
}
